.btn-prev {
  margin-right: 10px;
}

.btn-next {
  margin-left: 10px;
}

#attendances-edit {
  th {
    vertical-align: middle;
    text-align: center;
  } 

  td{
    vertical-align: middle;
    text-align: left;
  }
}

#table-attendances {
  th {
    vertical-align: center;
    text-align: center;
  } 

  td{
    vertical-align: center;
    text-align: center;  
  }
}

.edit-user {
  margin: 20px 0px;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-users {
  td {
    vertical-align: middle;
  }  
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

.edit-one-month {
  padding: 10px 100px;
}

input[type = "time"] {
        height: 60px;
        margin-bottom: 30px;
    }
    
.basic-info-label {
  margin-top: 10px;
}

.btn-search {
  margin-top: -2px;
}

.label-search {
  margin-bottom: 5px;
  font-weight: bold;
}

.btn-place {
  margin-right: 10px;
  margin-bottom: 20px;
}

.table-work {
  margin-top: 30px;
}

.abc {
  color: red !important;
}
